@import "magicalWinterColors.css";



button {
    font-family: 'grabstein';
    font-size: larger;
    border: 5px ridge var(--LightPurple);
    position: relative;
    padding: 5px 10px;
    margin: 4px;
    background: linear-gradient(120deg, var(--DaisyBush), var(--BoldNavy) );
    border-radius: 5px;
    transition: 1.2s, --DaisyBush 2s ease, --BoldNavy 2s ease;

}



button:hover{
    border: 5px ridge var(--ComfortingPurple);
    --DaisyBush: var(--LilacBush);
    --BoldNavy: var(--LightPurple);
}